* { /* Applied to the whole webpage */
    background-color: lightgoldenrodyellow;
    font-family: 'DejaVu Sans', 'Times New Roman', sans-serif;
}

.main { /* Aligns body of index.html to the center */
    text-align: center;
}

h1 { /* Applied to all main headings for each page */
    background-color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.recipe-list { /* Aligns list of recipe names on the main page to the left */
    font-size: 30px;
    text-align: left;
}

p, 
ul, 
ol { /* Aligns all lists to the left on all pages */
    text-align: left;
}

/* ========== Jambalaya page CSS below ============ */

.jambalaya { /* Aligns body of jambalaya.html to the center */
    text-align: center;
}


/* ========== Soondaeguk page CSS below ============ */

.soondaeguk { /* Aligns body of soondaeguk.html to the center */
    text-align: center;
}

/* ========== Gamjatang page CSS below ============ */

.gamjatang {
    text-align: center;
}