html { /* Applied to the whole webpage */
    background-color: lightgoldenrodyellow;
}

.main { /* Aligns body of the main page to the center */
    text-align: center;
}

h1 { /* Applied to all main headings for each page */
    background-color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.recipe-list { /* Aligns list of recipe names on the main page to the left */
    font-size: 30px;
    text-align: left;
}

img 